name: Export Power Platform Solution

on:
  workflow_dispatch:
    inputs:
      solution_name:
        description: 'Name of the solution to export from Power Platform'
        required: true
        default: ADCBMasterConfigurations
      version:
        description: 'Solution version'
        required: true
        default: v1.0.0

env:
  ENVIRONMENT_URL: 'https://demo001.crm8.dynamics.com/'
  CLIENT_ID: '2c34728a-634b-414c-b7e4-e904ead4b2c1'
  TENANT_ID: '807cb068-493f-40b4-b067-712d94fa7730'

permissions:
  contents: write

jobs:
  export-solution:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Microsoft Power Platform CLI
      uses: microsoft/powerplatform-actions/actions-install@v1

    - name: Configure Git
      run: |
        git config --global user.email "no-reply@github.com"
        git config --global user.name "GitHub Actions"

    - name: Fetch and switch to solutions branch
      run: |
        git fetch origin
        git checkout -b solutions origin/solutions

    - name: Create version folder and backup old solution if any
      run: |
        mkdir -p ${{ github.event.inputs.version }}/exportsolution
        ZIP_PATH="${{ github.event.inputs.solution_name }}_unmanaged.zip"
        SOL_FOLDER="${{ github.event.inputs.solution_name }}"

        if [ -f "$ZIP_PATH" ]; then
          mv "$ZIP_PATH" "${{ github.event.inputs.version }}/exportsolution/"
        fi

        if [ -d "$SOL_FOLDER" ]; then
          mv "$SOL_FOLDER" "${{ github.event.inputs.version }}/exportsolution/source"
        fi

    - name: Who Am I
      uses: microsoft/powerplatform-actions/who-am-i@v1
      with:
        environment-url: ${{ env.ENVIRONMENT_URL }}
        app-id: ${{ env.CLIENT_ID }}
        client-secret: ${{ secrets.PowerPlatformSPN }}
        tenant-id: ${{ env.TENANT_ID }}

    - name: Export solution from Power Platform
      uses: microsoft/powerplatform-actions/export-solution@v1
      with:
        environment-url: ${{ env.ENVIRONMENT_URL }}
        app-id: ${{ env.CLIENT_ID }}
        client-secret: ${{ secrets.PowerPlatformSPN }}
        tenant-id: ${{ env.TENANT_ID }}
        solution-name: ${{ github.event.inputs.solution_name }}
        solution-output-file: ${{ github.event.inputs.solution_name }}_unmanaged.zip

    - name: Unpack exported solution
      uses: microsoft/powerplatform-actions/unpack-solution@v1
      with:
        solution-file: ${{ github.event.inputs.solution_name }}_unmanaged.zip
        solution-folder: ${{ github.event.inputs.solution_name }}
        solution-type: 'Unmanaged'
        overwrite-files: true

    - name: Move exported solution to versioned folder
      run: |
        mkdir -p ${{ github.event.inputs.version }}/exportsolution
        mv ${{ github.event.inputs.solution_name }}_unmanaged.zip ${{ github.event.inputs.version }}/exportsolution/
        mv ${{ github.event.inputs.solution_name }} ${{ github.event.inputs.version }}/exportsolution/source

    - name: Commit to solutions branch
      run: |
        git add .
        git commit -m "Exported ${{ github.event.inputs.solution_name }} to solutions branch with version ${{ github.event.inputs.version }}"
        git push origin solutions

    - name: Create feature branch from main and push solution
      run: |
        git fetch origin
        git checkout -b feature/${{ github.event.inputs.version }} origin/solutions
        cp -r ${{ github.event.inputs.version }}/exportsolution/* .
        git add .
        git commit -m "Added solution version ${{ github.event.inputs.version }} for development"
        git push origin feature/${{ github.event.inputs.version }}
