name: Auto PR from feature to dev

on:
  push:
    branches:
      - feature

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Create Pull Request to dev
      uses: peter-evans/create-pull-request@v5
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        base: dev
        head: feature
        title: 'Auto PR: Merge feature to dev'
        body: |
          This pull request is automatically created by a GitHub Action
          to merge recent commits from `feature` to `dev`.
        branch: auto-pr-feature-to-dev
        delete-branch: true
